<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" ><h2>La Granja</h2></a>
    
    <a routerLink="animal" class="navbar-brand" routerLinkActive="activo">Animal</a>
    <a routerLink="corral" class="navbar-brand" routerLinkActive="activo">Corral</a>
    <a routerLink="tipoanimal" class="navbar-brand" routerLinkActive="activo">Tipos de Animales</a>
    <a routerLink="restriccion" class="navbar-brand" routerLinkActive="activo">Restriccion</a>
    <a routerLink="animalescorral" class="navbar-brand" routerLinkActive="activo">Animales por Corral</a>

   
  </nav>
