<div class="container" >
  <div class="row" >
    <div class="col-8 offset-2" >
      <form >
          <h2>{{title}}</h2>
          <div class="row" >
              <div class="form-group col-8">
                <label for="idtipoanimal">Tipo de Animal</label>
                <select class="form-control" [(ngModel)]="idtipoanimal">
                  <option *ngFor="let c of tiposanimales; let i=index" value={{c.idtipoanimal}}>{{c.nombre}}</option>
                  
                </select>
              </div>
          </div>
          <div class="row" >
            <div class="form-group col-8">
              <label for="idcorral">Corral</label>
              <select class="form-control" [(ngModel)]="idcorral">
                <option *ngFor="let c of corrales; let i=index" value={{c.idcorral}}>{{c.nombre}}</option>
              </select>
            </div>
        </div>
          <div class="row" >
            <div class="form-group col-8">
              <label for="fechanacimiento">Fecha Nacimiento</label>
              <input type="date" name="fechanacimiento" class="form-control" [(ngModel)]="fechanacimiento">
            </div>
        </div>
          <br>
          <div class="row" >
            <div class="col-8" >
              <button type="submit" name="crear" class="btn btn-primary" >Crear Animal</button>
            </div>
          </div>      
    </form>
  </div>
  </div>
</div>
